*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 15px auto 0 auto;
}
body{
    font-size: 22px;
    line-height: 130%;
}
h1, h2{
    color: green;
}
h1{
    margin-bottom: 20px;
    font-size: 40px
}
h2{
    margin-bottom: 10px;
    font-size: 25px;
}
.main-text{
    margin-bottom: 20px;
    text-align: justify;
}
.author-name{
    font-size: 25px;
    float: left;
    margin-top: 30px;
    margin-left: 5px;
}

.blog-post {
    float: left;
    padding: 15px 1.5% 15px 1%;
    width: 75%;
    position: relative;
    
}

.other-post {
    float: left;
    width: 25%;
}

.author-box {
    border-top: 1px solid gray;
    padding-top: 15px;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.other {
    margin: 0 0 20px 0;
}

.author-box img {
    height: 100px;
    width: auto;
    border-radius: 50%;
    float: left;
}
.blog-post img{
    height: 200px;
    width: auto;
}
.date {
    position: absolute;
    top: 10px;
    right: 30px;
}
