/*----BASIC SETUP----------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 130%;
    text-rendering: optimizeLegibility;
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*----REUSEABLE CONTENT----------------------------------*/
.row {
    max-width: 70%;
    margin: 0 auto;
}
section {
    padding: 80px 0;
}
.box {
    padding: 1%;
}
/*----HEADING----------------------------------*/
h1,h2,h3 {
    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    margin-top: 0;
    margin-bottom: 2%;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
/*----PARAGRAPHS    -------------------------*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
.box p {
    font-size: 90%;
    line-height: 145%;
}
/*----ICONS----------------------------------*/
.big-icon {
    font-size: 350%;
    display: block;
    color: #e67e22;
}
.icon-small{
    display: inline-block;
    width: 30px;
    color: #e67e22;
    text-align: center;
    font-size: 120%;
    margin-right: 10px;
    /*secrates to align icom and text*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}
/*----LINKS----------------------------------*/
a:link,a:visited{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-botton 0.2s, color 0.2s;
}
a:hover,a:active{
    color: #555;
}
/*----BUTTONS----------------------------------*/
.btn:link, .btn:visited, input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link, .btn-full:visited, input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}
.btn-ghost:link, .btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}
.btn:hover, .btn:active, input[type=submit]:hover, input[type=submit]:active{
    background-color: #cf6d17;
}
.btn-full:hover, .btn-full:active, input[type=submit]{
    border: 1px solid #e67e22;
}
.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid #e67e22;
    color: #fff;
}
/*----HEADER----------------------------------*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;

}
.hero-text-box {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo {
    height: 12%;
    width: 12%;
    float: left;
    padding-top: 2%;
}
.main-nav {
    padding-top: 3%;
    float: right;
}
.main-nav li {
    display: inline-block;
    padding-top: 4%;
    margin-left: 30px;
}
.main-nav li a:link,
.main-nav li a:visited {
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    transform: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;

}
/*----MEAL----------------------------------*/
.section-meals{
    padding: 0;
}
.meal-showcase{
    list-style: none;
    width: 100%;
}
.meal-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.3s, opacity 0.3s;
}
.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.017);
}

/*----HOW IT WORKS----------------------------------*/
.section-step{
    background-color: #f4f4f4; 
}
.steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen {
    width: 40%;
}
.work-step {
    margin-bottom:  50px;
}
.work-step:last-of-type{
    margin-bottom: 80px;
}
.work-step div{
    color: #e67e22;
    display: inline-block;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    float: left;
    padding: 5px;
    font-size: 150%;
    margin-right: 25px;
}
.btn-app img{
    height: 50px;
    width: auto;
    
}
.btn-app:link,
.btn-app:visited{
    border: 0;
}

/*----CURRENT CITIES----------------------------------*/
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.city-feature{
    margin-bottom: 5px;
}

/*----TESTIMONIALS----------------------------------*/
.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}
blockquote:before{
    content: "\201C";
    display: block;
    font-size: 500%;
    position: absolute;
    top: -5px;
    left: -3px;
}
cite{
    font-size: 90%;
    margin-top: 45px;
    display: block;
}
cite img{
    height: 50px;
    border-radius: 45%;
    margin-right: 10px;
    vertical-align: middle;
}
/*----SIGN UP NOW----------------------------------*/
.section-plans{
    background-color: #f4f4f4;
}
.box-plans{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}
.box-plans div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.box-plans div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 2px 2px #efefef;
}
.box-plans div:last-child{
    text-align: center;
    border: 0;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-price-meal{
    font-size: 80%;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}
/*----FORM----------------------------------*/
.contact-form {
    width: 60%;
    margin: 0 auto;
}
input[type=text], input[type=email], select, textarea{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea{
    height: 100px;
}
input[type=checkbox]{
    margin: 10px 5px 10px 0;
}
*:focus{
    outline: none;
}
/*----FOOTER----------------------------------*/
footer{
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-links{
    list-style: none;
    float: right;
}
.footer-nav li, .social-links li{
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child, .social-links li:last-child{
    margin-right: 0;
}
.footer-nav li a:link, .footer-nav li a:visited , .social-links li a:link,  .social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}
.footer-nav li a:hover, .footer-nav li a:active{
    color: #ddd;
}
.social-links li a:link,  .social-links li a:visited{
    font-size: 160%;
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    transition: color 0.2s;
}
.ion-social-facebook:hover{
    color: #3d5998;
}
.ion-social-twitter:hover{
    color: #00acbd;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #517fa4;
}
footer p{
    color: #888;
    text-align: center;
    margin-top: 20px;
}